@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --neutral-border: #dcddeb;
  --brand-primary: #6e29f6;
  --brand-primary-hover: #5b1ee0;
  --brand-primary-active: #4d18c4;
  --brand-primary-bg: #f1eafe;
  --brand-primary-border: #cdb4fb;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.table-wrapper {
  overflow-x: scroll;
  /* max-width: 80%; */
  margin: 0px 24px;
}

.custom-border {
  border: 1px solid var(--neutral-border);
}

.ant-btn-primary {
  background-color: var(--brand-primary);
  border-color: var(--brand-primary);
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: var(--brand-primary-hover) !important;
  border-color: var(--brand-primary-hover) !important;
}

.ant-btn-primary:active {
  background-color: var(--brand-primary-active) !important;
  border-color: var(--brand-primary-active) !important;
}

.ant-tag-blue,
.ant-tag-processing {
  color: var(--brand-primary);
  background: var(--brand-primary-bg);
  border-color: var(--brand-primary-border);
}
